/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
/.idea
/storage/pdf
/public/images

/storage/app/public
/storage/pdf

yarn-error.log
