[submodule "laradock"]
	path = laradock
	url = git@github.com:zawlinnnaing/laradock.git

[submodule "python-service/Digital-Watermarking-Book-Recommendation-and-Keyword-Extraction-using-flask"]
	path = python-service/Digital-Watermarking-Book-Recommendation-and-Keyword-Extraction-using-flask
	url = git@github.com:May-Thae-Sue/Digital-Watermarking-Book-Recommendation-and-Keyword-Extraction-using-flask.git
